import firebase from "firebase/compat/app";
import "firebase/compat/auth";

const firebaseConfig = {
  apiKey: 'APIKEY',
  authDomain: 'DOMAIN',
  projectId: 'ID',
};

firebase.initializeApp(firebaseConfig);

export default firebase;
