import firebase from 'firebase/compat/app';
import 'firebase/compat/auth';

const firebaseConfig = {
  apiKey: // your firebase api key
  authDomain: // your firebase auth domain
  projectId: // your firebase project id
};

firebase.initializeApp(firebaseConfig);

export default firebase;