@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;

@layer base {
  /* style resets */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    scroll-behavior: smooth;
    color-scheme: dark;
    outline: none;
  }

  body {
    font-family: "Poppins", sans-serif;
  }

  /* scrollbar */

  ::-webkit-scrollbar {
    @apply h-1 w-1;
  }
  ::-webkit-scrollbar-track {
    @apply bg-white/10;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-purple-600;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-purple-500;
  }
}

@tailwind components;

@layer components {
  /* for firefox. */
  .scrollbar {
    scrollbar-color: rgb(152 64 160) transparent;
    scrollbar-width: thin;
  }

  /* Focus/accessibility-related utilities. */

  ._focusable-base {
    @apply transition-all duration-100;
  }

  .focusable-field {
    @apply _focusable-base;
    @apply bg-white/5 hover:bg-white/[0.075] active:bg-white/20;
    @apply placeholder:text-white/25;
  }

  .focusable-icon-button {
    @apply _focusable-base;
    @apply text-white/50 hover:text-white focus:text-white;
  }

  /** Integrates with solid-router - highlights current selection. */
  .focusable-icon-button.active {
    @apply text-white;
  }

  .btn-base {
    @apply flex gap-1;
    @apply transition-colors duration-100;
    @apply rounded-md px-3 py-2;
  }

  .btn-primary {
    @apply btn-base;
    @apply bg-purple-600 enabled:hover:bg-purple-500 enabled:active:bg-purple-400;
    @apply disabled:cursor-not-allowed disabled:bg-purple-900 disabled:text-white/25;
  }

  .btn-secondary {
    @apply btn-base;
    @apply bg-stone-600 hover:bg-stone-500 active:bg-stone-400;
  }

  .focusable-card {
    @apply _focusable-base;
    @apply max-h-96 max-w-[10rem];
    @apply rounded-md shadow-md;
    @apply bg-ga-background-lighter hover:bg-zinc-900 active:bg-zinc-800;
  }
}

@tailwind utilities;

@layer utilities {
  .landing-gradient {
    @apply bg-gradient-to-r from-ga-secondary to-ga-primary;
  }

  .violet-gradient {
    @apply bg-gradient-to-r from-ga-violet to-transparent;
  }

  .pink-gradient-background {
    @apply bg-gradient-to-t from-ga-pink to-ga-orange;
  }

  /* For Animating Underlined Text */

  .underline-animation {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }

  .underline-animation::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease-in-out;
  }

  .underline-animation.lightblue::after {
    background-color: #1a78d6;
  }

  .underline-animation:hover::after {
    width: 100%;
  }

  /* Background Stars for Beta and Landing Page */
  .star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    animation: shooting-star linear infinite;
  }

  @keyframes shooting-star {
    0% {
      opacity: 0;
      transform: translate(-50px, -50px);
    }
    50% {
      opacity: 1;
      transform: translate(0, 0);
    }
    100% {
      opacity: 0;
      transform: translate(50px, 50px);
    }
  }
}
